<html>
    
<body>
    
<ol>
    <h1>{{title}}</h1>

    <h3>{{comment}}</h3>

    <form>
    <input type ="text" name="filter" [(ngModel)] ="filter" placeholder="Filter your to-dos"  />
    </form>


    <!-- <li *ngFor="let todo of todos"> -->
        
    <li *ngFor="let todo of getFilteredResults()">    

        <span *ngIf="!todo.completed"><button class="complete" (click)="strikethrough(todo)">Complete</button></span>

        <span [ngClass]="{strikethrough: todo.completed}"> {{todo.task}}</span>

        <button class="remove" (click)="removeTask(todo.task)">x</button>

     
    </li>
    <input type="text" placeholder="Add your to-do" [(ngModel)] ="newTodo">
    <button class="add" (click)="addTask(newTodo)">Add</button>

</ol>

</body>

</html>